//Files imported with @use are called modules. To use mixins or variables of these modules, we have to call them using namespaces. By default, the namespace is the filename without the extension:
@use"../custom" as *;
@use'../components/mixins' as *;

.hero-section {
    @include hero-gradient;
    padding: 5.5rem 0 0 0;
    width: 100%;
    height: 100%;

    @include media-breakpoint-up(lg) {
        padding: 10rem 0 0 0;
    }

}

.hero-svg {
    width: 100vw;
    margin-top: -5rem;
}

.hero-content {
    .video-box {
       img {
        height: 20.9rem;
        width: auto;
        @include media-breakpoint-up(lg) {
            height: auto;
            width: auto;
        }

       }
        position: relative;
        a {
            span {

                i {
                    font-size: 6rem;
                    color: $gray-900;
                }
            }
        }
    }
}





//Animation of play-button. The second part of the animation is on the animation partial.
.border-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border: 0.57rem solid $white;
    border-radius: 50%;
    animation: pulse-animation 1.65s linear infinite;

    //We have 2 circles, and we set a delay on one of them
    &--border-1 {
        animation-delay: 1s;
    }
    &--border-2 {
        animation-delay: 1.65s;
        color: rgba($white, .9);
    }
}