//Files imported with @use are called modules. To use mixins or variables of these modules, we have to call them using namespaces. By default, the namespace is the filename without the extension:
@use"../custom" as *;

.menu {
    background: $primary;

    ul > * {
        display: inline-block;
        width: min-content;
    }

    li {
        padding: 0 .7rem;
    }

    a {
        color: $gray-900;
        text-transform: capitalize;
        font-weight: 600;
    }

    .contact-btn{
        background: $teal;
        padding: 0 .3rem;
        margin-left: .7rem;
        border-radius: 5px;
        transform: scale(1);
        transition: all .4s;
    }
    
    .contact-btn:hover {
        transform: scale(1.1);       
    }

    .contact-btn:active {
        transform: scale(.95);
    }

}