//Files imported with @use are called modules. To use mixins or variables of these modules, we have to call them using namespaces. By default, the namespace is the filename without the extension:
@use"../custom" as *;


.btn-rounded {
    position: relative;
    text-transform: uppercase;
    color: #135f48;
    padding: .93rem 4.3rem .93rem 1.2rem;
    font-weight: 500;
    margin: 0;
    border: .1rem solid rgba($white, .6);
    background-color: $teal;

    span {
        position: absolute;
        background-color: $primary;
        width: 2.5rem;
        height: 2.5rem;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;

        i {
            color: $teal;
            font-size: 1rem;
            line-height: 2.5rem;
        }
    }
}