//Files imported with @use are called modules. To use mixins or variables of these modules, we have to call them using namespaces. By default, the namespace is the filename without the extension:
@use"../custom" as *;

//Styling hero description
.display-2 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1rem;
    text-transform: capitalize;

    &--intro {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 5.5rem;
        color: #246888;
        margin-top: 5rem;
    }

    &--description {
        text-transform: uppercase;
        font-size: 1.5rem;
        display: block;
        color: #0f5575;
        margin: 1rem 0 5rem .5rem;

    }
}